<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Guardian Zero</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="app-container">

    {% block content %}
    {% endblock %}

</div>

<div class="bottom-nav">

    <a href="{{ url_for('home') }}">
        <img src="{% if active_page == 'home' %}
                    {{ url_for('static', filename='icons/home_activo.jpeg') }}
                    {% else %}
                    {{ url_for('static', filename='icons/home.png') }}
                    {% endif %}">
        Inicio
    </a>

    <a href="{{ url_for('foro') }}">
        <img src="{% if active_page == 'foro' %}
                    {{ url_for('static', filename='icons/foro_activo.jpeg') }}
                    {% else %}
                    {{ url_for('static', filename='icons/foro.png') }}
                    {% endif %}">
        Foro
    </a>

    <a href="{{ url_for('reporte') }}">
        <img src="{% if active_page == 'reporte' %}
                    {{ url_for('static', filename='icons/agregar_reporte.jpeg') }}
                    {% else %}
                    {{ url_for('static', filename='icons/agregar_reporte_inactivo.jpeg') }}
                    {% endif %}">
        Reporte
    </a>

    <a href="{{ url_for('capacitaciones') }}">
        <img src="{% if active_page == 'capacitaciones' %}
                    {{ url_for('static', filename='icons/capacitaciones_activo.jpeg') }}
                    {% else %}
                    {{ url_for('static', filename='icons/capacitaciones.jpeg') }}
                    {% endif %}">
        Capacitaciones
    </a>

    <a href="{{ url_for('perfil') }}">
        <img src="{% if active_page == 'perfil' %}
                    {{ url_for('static', filename='icons/perfil_activo.jpeg') }}
                    {% else %}
                    {{ url_for('static', filename='icons/perfil.jpeg') }}
                    {% endif %}">
        Perfil
    </a>

</div>

</body>
</html>